@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
}

.structure-info {
    background-color: rgb(255, 77, 0);
    border: 5px solid grey;
    border-radius: 0 0 2em 2em;
    text-align: center;
    width: 30vw;
    height: 12vh;
}

.info {
    margin-bottom: 5em;
}

.structure-container {
    display: flex;
    border: 3px solid black;
    border-radius: 2.5em;
    align-items: center;
    justify-content: center;
    height: 15vh;
    font-weight: 600;
    font-size: 1.2em;
}

.structure-container:hover {
    background-color:rgb(255, 77, 0);
    color: white;
}