@font-face {
    font-family: 'Sansation';
    src: url('SansationLightItalic.eot');
    src: local('Sansation Light Italic'), local('SansationLightItalic'),
        url('SansationLightItalic.eot?#iefix') format('embedded-opentype'),
        url('SansationLightItalic.woff2') format('woff2'),
        url('SansationLightItalic.woff') format('woff'),
        url('SansationLightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Sansation';
    src: url('SansationItalic.eot');
    src: local('Sansation Italic'), local('SansationItalic'),
        url('SansationItalic.eot?#iefix') format('embedded-opentype'),
        url('SansationItalic.woff2') format('woff2'),
        url('SansationItalic.woff') format('woff'),
        url('SansationItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Sansation';
    src: url('SansationLight.eot');
    src: local('Sansation Light'), local('SansationLight'),
        url('SansationLight.eot?#iefix') format('embedded-opentype'),
        url('SansationLight.woff2') format('woff2'),
        url('SansationLight.woff') format('woff'),
        url('SansationLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Sansation';
    src: url('SansationBoldItalic.eot');
    src: local('Sansation Bold Italic'), local('SansationBoldItalic'),
        url('SansationBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('SansationBoldItalic.woff2') format('woff2'),
        url('SansationBoldItalic.woff') format('woff'),
        url('SansationBoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Sansation';
    src: url('SansationBold.eot');
    src: local('Sansation Bold'), local('SansationBold'),
        url('SansationBold.eot?#iefix') format('embedded-opentype'),
        url('SansationBold.woff2') format('woff2'),
        url('SansationBold.woff') format('woff'),
        url('SansationBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Sansation';
    src: url('SansationRegular.eot');
    src: local('Sansation Regular'), local('SansationRegular'),
        url('SansationRegular.eot?#iefix') format('embedded-opentype'),
        url('SansationRegular.woff2') format('woff2'),
        url('SansationRegular.woff') format('woff'),
        url('SansationRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

